﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>

    <h2>Studenten</h2>
    @foreach(var student in ViewBag.studenten)
        {
            <ul>
                <li>@student.Id</li>
                <li>@student.Naam</li>
                <li>@student.Afstudeergraad</li>
            </ul>
        }
</body>
</html>